#dark .homepage{
    background-color: black;
    color: white;
   
    
}
#dark .cart{
    /* width: 100vw; */
    height: 100vh;
    background-color: black;
    color: white;
    
}

#dark .product{
    color: white;
}
#dark .cart-text{
    color: white;
}